.Button {
  width: 100%;
  padding: 0.5rem;

  font-size: 1.5rem;

  color: white;
  background: rgb(62, 113, 253);

  border: none;
  border-radius: 0.5rem;

  cursor: pointer;

  transition: all 0.1s;

  &:active {
    filter: brightness(0.75);
  }
}
